[package]
name = "netsblox_core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uuid = { version = "1.0.0-alpha.1", features = ["v4", "fast-rng"] }
serde = "1.0.130"
